@import url(http://fonts.googleapis.com/css?family=Lora);

.leaflet-control-container .leaflet-top.leaflet-left { margin-top: 78px; }

input[type="range"] {
  cursor: pointer;
  max-width: 100%;
}

body {
  color: whitesmoke;
  margin:0; padding:0;
  font-family: "Lora", serif;
  font-size: 13px;
}

header {
  background-color: hsl(169, 66%, 40%);
  height: 22px;
  overflow: auto;
  padding: 2px 20px;
}

header .mark {
  float: left;
  font-size: 16px;
  font-weight: lighter;
  margin: 0; padding: 0;
  text-decoration: none;
}

.mark, .header-links {
  line-height: 20px;
}

header, header .mark {
  color: whitesmoke;
}

.header-links {
  float: right;
  font-size: 11px;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.header-links li { float: left; }
.header-links li:first-child:after {
  content: "\02022";
  margin: 0 4px;
}
.header-links a, .header-links li:first-child:after {
  color: whitesmoke;
}

.main-content {
  position: absolute;
  top: 22px;
  right: 0; bottom: 0; left: 0;
}

.param-container {
  background-color: hsla(169, 66%, 40%, 0.75);
  color: whitesmoke;
  list-style: none;
  font-family: sans-serif;
  margin: 0; padding: 0;
  overflow: auto;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.param-container li {
  box-sizing: border-box;
  display: block;
  float: left;
  padding: 12px 4px;
  text-align: center;
  width: 16.666%;
}

.param-container label { display: block; }
.param-container .short-label { display: none; }
.param-value { margin-top: 4px; }

.map-container { position: absolute; top: 0; bottom: 0; width: 100%; }

@media (max-width: 840px) {
  .param-container { font-size: 11px; }
  .leaflet-control-container .leaflet-top.leaflet-left { margin-top: 74px; }
}

@media (max-width: 600px) {
  .param-container label { display: none; }
  .param-container .short-label {
    display: block;
    font-size: 14px;
    font-family: serif;
  }
}

@media (max-height: 420px) {
  .param-container li { padding: 4px; }
  .leaflet-control-container .leaflet-top.leaflet-left { margin-top: 62px; }
}
